<template name="galleryModal">
  <div class="modal fade" id="gallery-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header clearfix">
          <h1 class="modal-title pull-left">Select Images</h1>
          <button aria-label="Close" class="close pull-right" data-dismiss="modal" type="button"><span aria-label="true">×</span></button>
        </div>
        <div class="modal-body">
          <h3>Select the images you want to attach to your reply</h3>
          <div class="row">
            <div class="col-xs-12">
              <h2>Current Selected Images (4 maximum)</h2></div>
            <div class="col-xs-12" style="display: none !important;">
                <!--batman-iterator-image="selectedImages"-->
            </div>
            <div class="col-xs-12">
              <div class="alert alert-info">
                <p class="alert-text">No images selected, choose some from below or upload more images</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h2>Available Images</h2></div>
            <div class="col-xs-12">
              <div class="image-wrapper upload-image-wrapper btn btn-primary">
                <label class="pull-right" for="upload-campaign-img">
                  <p class="glyphicon glyphicon-upload"></p>
                  <p>Upload Images</p>
                  <input accept="image/*" id="upload-campaign-img" type="file">
                </label>
              </div>
              <!--batman-iterator-image="availableImages"-->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-large border-bottom border-primary" data-dismiss="modal" type="button">Done</button>
        </div>
      </div>
    </div>
  </div>
</template>