<template name="tweetsIndex">
  <div>
    {{> React component=Test}}
  </div>
  {{> Tweets}}
</template>

<template name="Tweets">
  <div class="conversations-index">
    {{> tweetsLeftColumn}}
    {{> tweetsCenterRightColumn}}
  </div>
</template>

<template name="tweetsLeftColumn">
  <div class="hidden-xs clearfix" id="left-col">
    {{> AccountDetails}}
    {{> KeywordsWidget}}
  </div>
</template>

<template name="tweetsCenterRightColumn">
  <div class="center-right-wrapper col-xs-12">
    <div class="comments" id="center-col">
      <div class="col-xs-12">
        <div class="row comments-header">
          <ul class="comments-nav">
            <li class="nav-item">
              <a class="nav-item-link active" href="#">
                <span class="text">Tweets</span>
                <span class="count">{{totalConversations}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="header clearfix row">
            <div class="sort-bar">
              <div class="sort-by">
                <span>Sort By:</span>
                <button class="convo-sort-button newest {{#if $eq orderBy 'newest'}}active{{/if}}" value="newest">NEWEST</button>
                <button class="convo-sort-button oldest {{#if $eq orderBy 'oldest'}}active{{/if}}" value="oldest">OLDEST</button>
              </div>
              <div class="per-page">
                <span>Per Page:</span>
                <button class="few-count {{#if $eq numPerPage 5}}active{{/if}}" value="5">5</button>
                <button class="few-count {{#if $eq numPerPage 10}}active{{/if}}" value="10">10</button>
                <button class="more-count {{#if $eq numPerPage 20}}active{{/if}}" value="20">20</button>
              </div>
            </div>
          </div>
          <div class="row" role="alert" style="display: none !important;">
            <div class="col-xs-12">
              <div class="alert alert-info hidden-tweets-alert">
                <span>You have (</span>
                <span class="total-tweets" style="display: none !important;">0</span>
                <span>) hidden Tweets! Unhide a few keywords.</span>
              </div>
            </div>
          </div>
          <div class="conversations row">
            {{> galleryModal}}
            {{> ConversationsList}}
          </div>
          <div class="row">
            <div class="load-page col-md-12 col-xs-12">DELETE TWEETS &amp; LOAD MORE</div>
          </div>
        </div>
      </div>
    </div>
    <div id="right-col">
      <div class="tips">
        <p class="label">Tweet Reply Tips</p>
        <div class="tip"><span class="glyphicon glyphicon-user"></span>
          <p class="header">Personalize the Tweet</p>
          <p>Make your Tweets personalized by including the person's name or relating your response to something they mentioned in their Tweet.</p>
        </div>
        <div class="tip"><span class="glyphicon glyphicon-bullhorn"></span>
          <p class="header">Include Your Offer in the Tweet</p>
          <p>According to our studies, 68% of people are more likely to click on your link if you mention what you're offering in your reply.</p>
        </div>
        <div class="tip"><span class="glyphicon glyphicon-globe"></span>
          <p class="header">Know Your Audience</p>
          <p>Experiment with tweeting at different times and in different ways to figure out when and how your audience prefers to be responded to.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="AccountDetails">
  {{#with business}}
    <div id="accountdetails">
      <div id="account-logo">
        <!-- <img data-hideif="currentAccount.twitter_avatar_url" /> -->
        <img src="{{twitter_avatar_large}}">
      </div>
      <div class="clearfix" id="account-details">
        <div id="account-name">{{name}}</div>
        <div id="account-twitter-name">@{{twitter_screen_name}}</div>
        <div id="twitter-account-change">
          <a class="authorize-twitter-link small-link" href="http://api.hiplocalhost.com:3000/start_twitter_process?business_id=2&amp;return_to_url=http://my.hiplocalhost.com:3001/twitter_authorized">Change Twitter Account</a>
        </div>
      </div>
      <hr />
    </div>
  {{/with}}
</template>