<template name="footer">
  <div class="footer">
    <div class="container">
      <div class="col-md-8">
        <div class="copyright">
          <p>
            &copy; 2015 SocialCentiv
          </p>
        </div>
        <div class="company-address">
          <p>
            703 McKinney Ave. Suite 433, Dallas, TX 75202
          </p>
        </div>
        <div class="terms-policy">
          <a href="http://socialcentiv.com/terms-of-use/">Terms</a><span>&nbsp;and&nbsp;</span><a href="http://socialcentiv.com/privacy-policy-2/">Privacy Policy</a>
        </div>
      </div>
      <div class="col-md-4 hiplogiq-app">
        <span>Powered By</span>
        <a href="http://www.socialcentiv.com">
          <img alt="SocialCentiv logo" src="images/new-logo-white.png" />
        </a>
      </div>
    </div>
  </div>
</template>