<template name="header">
  <div class="main-nav-wrapper">
    <div class="container">
      <div class="row">
        <a>
          <div class="logo col-md-2 col-sm-2 col-xs-2">
            <img alt="socialcentiv logo" class="logo-img" src="images/new-logo.png"/>
          </div>
        </a>
        <nav>
          <a class="main-nav-menu" href="#"><span class="glyphicon glyphicon-th"></span></a>
          <ul id="main-nav">
            <a class="close-mobile-menu" href="#"><span class="glyphicon glyphicon-remove"></span></a>
            <li class="main-nav-item">
              <a class="main-nav-link {{isActiveRoute 'tweets'}}" href="{{pathFor 'tweets'}}"><img class="smallimg main-nav-icon" src="images/Twitter_logo_white.png" /><span class="label">Tweets</span></a>
            </li>
            <li class="main-nav-item">
              <a class="main-nav-link {{isActiveRoute 'campaigns'}}" href="{{pathFor 'campaigns'}}"><span class="ss-bullseye main-nav-icon"></span><span class="label">Campaign</span></a>
            </li>
            <li class="main-nav-item" id="reports">
              <a class="main-nav-link {{isActiveRoute 'reports'}}" href="{{pathFor 'reports'}}"><span class="icon-pie main-nav-icon"></span><span class="label">Reports</span></a>
            </li>
            <li class="main-nav-item pull-right dropdown-nav">
              {{#with business}}
                <a class="main-nav-link sub-nav-toggle" href="" style="padding: 30px 10px;">
                  {{#if $eq status 'active'}}
                    <span class="account-logo-wrapper">
                      <img class="account-logo" src="{{twitter_avatar_url}}">
                    </span>
                  {{/if}}
                  <span class="label" data-source="currentAccount.name">Nice Restaurant</span>
                </a>
              {{/with}}
              <ul class="sub-nav" style="display: none;">
                <li class="sub-nav-item">
                  <a class="sub-nav-link" data-addclass-active="activeView | equals 'accounts'" data-event-click="toggleMobileNav | withArguments '/account'" data-route="routes.account" href="/account">
                    <span class="glyphicon glyphicon-user main-nav-icon"></span>
                    <span class="label">My Account</span>
                  </a>
                </li>
                <li class="sub-nav-item">
                  <a class="sub-nav-link link-logout" href="">
                    <span class="glyphicon glyphicon-log-out main-nav-icon"></span>
                    <span class="label">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>