@import 'helpers';

@media (max-width: 1440px) {
  .footer .copyright{
    padding-right: 90px;
  }
}
@media (max-width: 1228px) {
  .footer{
    .copyright{
      padding-right: 0;
      text-align: center;
    }
    .terms-policy{
      padding-right: 0;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .company-address {
      padding: 0;
      margin: 10px 0;
      text-align: center;
    }
    .hiplogiq-app{
      padding-right: 0;
      text-align: center;
    }
  }
}

/* ----------------------- *\
|      MEDIA - QUERIES       |
\* ----------------------- */
@media (max-width: 1439px) {
  .new-customers-number, .conversations-number{
    width: 50px;
    height: 50px;
  }
  .new-customers-number span, .conversations-number span{
    font-size: 19px;
    top: 11px;
  }
  h2{
    font-size: 16px;
  }
  .email-address{
    padding-left: 35px;
  }
  .date{
    padding-left: 50px;
  }
}

@media (max-width: 1228px) {
  .customer-name{
    // padding-left: 65px;
  }
  .email-address{
    padding-left: 103px;
  }
  .date{
    padding-left: 120px;
  }
  .campaign-step-1{
    .add-location-form{
      .form-control{
        margin-bottom: 20px;
      }
    }
  }
  .account-setup{
    .form-group label{
      &.contact-info-label{
        width: 40%;
      }
    }
    .control-label {
      width: 100%;
    }
    .current-twitter-account{
      float: left;
    }
    .add-location-form .form-control{
      width: 100% !important;
      margin-bottom: 20px;
    }
    .contact-info, .login-info-fields{
      margin-top: 47px;
    }
    .update-info button {
      width: 100%;
    }
  }
  .col-xs-2 {
    padding: 0;
  }
  .col-xs-3{
    padding-left: 5px;
  }
  .tweet-wrapper .col-xs-2{
    width:  15.666666666666664%;
  }
  .col-xs-7{
    width: 56.333333%;
  }
  .conversation-wrapper .location-details{
    text-align: left;
  }
  .reports-data-table-header{
    padding-left: 15px;
  }
  .reports-data-table-header div:last-of-type{
    text-align: left;
  }
  .conversations-data .col-xs-2{
    width: 18.666666%;
  }
  .reports-data{
    .reports-data-table-header{
      .customer-name{
        margin-right: -8px;
        padding: 0;
      }
      .age-range{
        text-align: left;
        margin-right: -8px;
      }
      .followers{
        text-align: left;
        margin-right: -8px;
      }
      .location{
        text-align: left;
      }
      .conversation{
        text-align: center;
      }
    }
  }
}

@media (max-width: 991px) {
  .loading .loading-container {
    font-size: 10px;
  }
  .main-nav-wrapper {
    position: static;
    height: auto;
    width: auto;
    .logo {
      margin: 0 auto;
    }
  }
  .logo {
    float: left;
    margin: 25px;
  }
  .main-nav-item {
    display: inline-block;
  }
  .main-nav-link {
    padding: 40px 30px;
  }
  .account-setup{
    .agreed-terms label{
      width: 90%;
    }
  }
  .customer-name{
    padding-left: 46px;
  }
  .email-address{
    padding-left: 81px;
  }
  .date{
    padding-left: 96px;
  }
  .conversation-wrapper {
    .customer-img {
      display: none;
    }
    .customer-name {
      padding: 0;
    }
  }
  .keywords-list{
    .keyword-details{
      span{
        width: 135px;
      }
    }
  }
}

@media (max-width: 767px) {
  .keywords-list{
    .keyword-details{
      overflow-y: hidden;
      span{
        width: 90%;
      }
    }
  }
}



/* ----------------------- *\
|   CONVERSATIONS - REPLY   |
\* ----------------------- */
.report-customer-reply{
  margin-top: 10px;
  padding: 10px 15px 10px 0;
}
.reply-label{
  text-align: right;
  padding-top: 35px;
}
.reply-content{
  padding: 10px 0;
  margin-top: 10px;
  background: #f2f2f2;
  border-radius: 4px;
  display: inline-block;
}
.reply-message img, .reply-message p{
  float: left;
}
.reply-date-time{
  text-align: right;
}
// ===============  @END REPORTS =============

@media (max-width: 1229px) {
  #edit-campaign-wrapper {
    min-width: inherit;
    .campaign-content {
      width: 100%;
      .col-xs-6 {
        width: 100%;
      }
      label:not(.theme-color) {
        width: 100%;
        max-width: inherit !important;
      }
      .form-control {
        width: 100% !important;
      }
      .current-twitter-account {
        float: left;
      }
      .theme-colors {
        float: none !important;
        width: auto !important;
        max-width: 460px;
        margin: 0 auto;
      }
      .branding-choices {
        float: left;
      }
      .thumbnail-link {
        right: 0;
        left: auto;
        &:focus {
          left: auto;
          right: 0;
        }
      }
    }
  }
  .comment-option .icon {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .comments-header{
    .col-sm-7{
      padding-right: 0;
    }
    .col-sm-5{
      padding-left: 0;
    }
  }
  #session-wrapper {
    h1{
      font-size: 2em;
    }
    .session-submit{
      .btn-forgot-pass{
        font-size: 16px;
      }
    }
  }
}


// Tablet
@media (max-width: 900px) {
  #create-campaign-wrapper {
    min-width: inherit;
    overflow-y: inherit;
  }
  .header-wrapper {
    width: 100%;
    padding: 0 10px;
  }
  .campaign-content {
    width: 90%;
    label {
      width: 100%;
      max-width: inherit !important;
    }
    .form-control {
      width: 100% !important;
    }
    .current-twitter-account {
      float: left;
      button{
        float: left;
      }
      a{
        float: left;
      }
    }
    .theme-colors {
      float: none !important;
      width: auto !important;
      max-width: 460px;
      margin: 0 auto;
    }
    .branding-choices {
      float: left;
    }
    .thumbnail-link {
      right: 0;
      left: auto;
      &:focus {
        left: auto;
        right: 0;
      }
    }
    .add-location-form {
      .form-control {
        margin-bottom: 20px;
      }
      .btn-primary {
        width: 100%;
      }
    }
  }
  .campaign-step-1{
    .current-twitter-account h2{
      float: left;
    }
    .address{
      .col-xs-5{
        width: 40.666667%;
      }
    }
  }
  .campaign-step-4{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{
      width: 100%;
    }
  }

 /* ------------------- *\
|        REPORTS         |
\* -------------------- */
  .reports-data-table-header > .col-xs-4{
   padding: 0;
   width: 25.333333%;
  }
  .col-xs-2{
    width: 18.666667%;
  }
  .col-xs-3{
    padding: 0;
  }
  .conversation-wrapper{
    .customer-info{
      padding-left: 5px;
    }
  }
  .reports-data{
    .reports-data-table-header{
      .customer-name{
        margin-right: -8px;
        padding: 0;
      }
      .age-range{
        text-align: center;
        margin-right: 0;
        padding-left: 25px;
      }
      .followers{
        text-align: left;
        margin-right: 0;
        padding-left: 25px;
      }
      .location{
        text-align: left;
        padding-left: 15px;
      }
      .conversation{
        text-align: center;
      }
    }
  }
}



.twitter-authorized{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 30px 0;
  .counter{
    font-size: 50px;
  }
  .success-message{
    font-size: 19px;
    margin-top: 20px;
  }
}



/* ------------------- *\
|     LP PREVIEW        |
\* ------------------- */
@media (max-width: 990px) {
  .lp-preview-bottom{
    padding-right: 0;
  }
}
@media (max-width: 780px) {
  .lp-preview-form .form-control{
    width: 90%;
  }
}
@media (max-width: 778px) {
  .lp-preview-bottom{
    margin-top: 0;
  }
}

// @end LP preview ============
